html {
  &.light {
    // 浅色下的主界面
    .main_wrapper {
      .arco-textarea-focus {
        @apply border-#e9e9e9;
      }
    }
  }

  &.dark {
    // 深色下的主界面
    .main_wrapper {
      .arco-textarea-wrapper {
        @apply bg-transparent border-transparent;
      }

      .arco-textarea-focus {
        @apply I_border-#777;
      }

      .arco-textarea {
        @apply bg-#242425a6;
      }

      .arco-radio-checked {
        @apply text-white I_bg-#222;
        text-shadow: 0 3px 15px #ffffffb8 !important;
      }

      // 暗色下的结果框，不要边框
      .text_readonly {
        .arco-textarea-wrapper {
          @apply border-none;
        }
      }
    }

    // 深色下的拟态按钮
    .mimicry_btn {
      --houdini-colorA: #333;
      --houdini-colorB: #333;
      box-shadow: 5px 5px 12px #112, -5px -5px 12px #333;
      @apply border border-#444;

      &:hover,
      &:active {
        --houdini-colorA: #222;
        --houdini-colorB: #222;
        box-shadow: 1px 1px 6px #112, -3px -3px 6px #333;
      }

      &.mimicry_btn_disabled {
        box-shadow: 5px 5px 12px #112, -5px -5px 12px #333;
        &:hover,
        &:active {
          --houdini-colorA: #333;
          --houdini-colorB: #333;
          box-shadow: 5px 5px 12px #112, -5px -5px 12px #333;
        }
      }
    }

    // 深色下的波纹按钮
    .colorful_btn_main {
      .ripple_wrapper {
        span[dynamic='true'] {
          background: linear-gradient(
            45deg,
            #1900ff77,
            #0066ff77,
            #5e4dff77,
            #a200ff77
          );
        }
      }
      @apply border border-#444;
      &:hover {
        text-shadow: 0 2px 12px #ffffff6e !important;
      }
    }

    // 深色下的<code/>动画
    .code_bg {
      svg {
        text {
          animation: stroke_dark 2s ease;
          animation-fill-mode: both;
        }
      }
    }
    .setting_card {
      box-shadow: 9px 9px 18px #232324;
      &:hover {
        box-shadow: 6px 6px 8px #222222;
        .title_wrapper {
          text-shadow: 2px 2px 7px #555;
          --offset: 4px;
          text-decoration-color: theme('colors.darkPrimary');
        }
      }
    }
  }
}
