html {
  &.light {

    // 浅色下的主界面
    .main_wrapper {
      .arco-textarea-focus {
        border-color: #e9e9e9;
      }
    }
  }

  &.dark {

    // 深色下的主界面
    .main_wrapper {
      .arco-textarea-wrapper {
        background-color: transparent;
        border-color: #00000000 !important;
      }

      .arco-textarea-focus {
        border-color: #777 !important;
      }

      .arco-textarea {
        background-color: #242425a6 !important;
      }

      .arco-radio-checked {
        color: #fff !important;
        text-shadow: 0 3px 15px #ffffffb8 !important;
        background-color: #222 !important;
      }

      // 暗色下的结果框，不要边框
      .text_readonly {
        .arco-textarea-wrapper {
          border: none;
        }
      }
    }

    // 深色下的拟态按钮
    .mimicry_btn {
      --houdini-colorA: #333;
      --houdini-colorB: #333;
      box-shadow: 5px 5px 12px #112, -5px -5px 12px #333;
      border: 1px solid #444;

      &:hover,
      &:active {
        --houdini-colorA: #222;
        --houdini-colorB: #222;
        box-shadow: 1px 1px 6px #112, -3px -3px 6px #333;
      }

      &.mimicry_btn_disabled {
        box-shadow: 5px 5px 12px #112, -5px -5px 12px #333;

        &:hover,
        &:active {
          --houdini-colorA: #333;
          --houdini-colorB: #333;
          box-shadow: 5px 5px 12px #112, -5px -5px 12px #333;
        }
      }
    }

    // 深色下的波纹按钮
    .colorful_btn_main {
      .ripple_wrapper {
        span[dynamic='true'] {
          background: linear-gradient(45deg,
              #1900ff77,
              #0066ff77,
              #5e4dff77,
              #a200ff77);
        }
      }

      border: 1px solid #444444 !important;

      &:hover {
        text-shadow: 0 2px 12px #ffffff6e !important;
      }
    }

    // 深色下的<code/>动画
    .code_bg {
      svg {
        text {
          animation: stroke_dark 2s ease;
          animation-fill-mode: both;
        }
      }
    }
  }
}
